{% extends 'base.html' %}
{% load static %}
<!-- Bloque que define el titulo  -->
{% block titulo %}
    Home
{% endblock titulo %}


<!-- Bloque que trae el cuerpo  -->
{% block body %}

{% include 'includes/nav.html' %}



<div class="container">

    <div class="row" style="margin-top: 100px;">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="card-title">
                        <h4>
                            Calculo de Honorarios
                        </h4>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        {% if form.input_experiencia.errors %}

                        
                        <div class="alert alert-danger">
                            <strong>Error:</strong> Por favor, corrija la experiencia.
                                <ul>
                                
                                    <li>{{ form.input_experiencia.errors.0 }}</li>
                                    
                                    
                                </ul>
                            </div>
                        {% endif %}

                        <label class="form-label" >Seleccione el perfil profesional: </label>
                        {{form.select_perfil}}

                        <label class="form-label">Ingrese la experiencia en <strong>meses</strong></label>
                        {{form.input_experiencia}}

                        <button type="submit" class="btn btn-primary mt-2">Aceptar</button>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <h3>Tabla de guia de Experiencias vs Perfil</h3>

            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        
                        <th>Perfil</th>
                        <th colspan="2">Experiencia General (Desde - Hasta) meses</th>
                          
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                      <td>Auxiliar</td>
                      <td>0 - 18</td>
                    </tr>
                    <tr class="text-center">
                        <td>Técnico</td>
                        <td>0 - 18</td>
                    </tr>
                    <tr class="text-center">
                        <td>Profesional</td>
                        <td>0 - 24</td>
                    </tr>
                    <tr class="text-center">
                        <td>Profesional Especializado</td>
                        <td>13 - 48 o más</td>
                    </tr>
                </tbody>

            </table>
        </div>


    </div>
</div>



{% endblock body %}