{% extends 'base.html' %}
{% load static %}
<!-- Bloque que define el titulo  -->
{% block titulo %}
    Home
{% endblock titulo %}


<!-- Bloque que trae el cuerpo  -->
{% block body %}

{% include 'includes/nav.html' %}

<div class="row" style="margin-top: 100px; margin-left: 60px;">
    <div class="col-lg-4">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Perfil: {{ perfil }}</h5>
              <p class="card-text">Experiencia: {{ experiencia }} méses</p>
              <p class="card-text" style="color: green;">Sueldo: ${{ salario }}</p>
              <a href="{% url 'honorarios:inicio' %}">
                  <button class="btn btn-info">Regresar</button>
              </a>
            </div>
        </div>

    </div>
</div>

  

{% endblock body %}