{% extends 'base.html' %}
{% load static %}
<!-- Bloque que define el titulo  -->
{% block titulo %}
    Home
{% endblock titulo %}


<!-- Bloque que trae el cuerpo  -->
{% block body %}
<div class="container">

    <div class="row " style="margin-top: 100px;">
        <div class="col-lg-5">
            <div class="card p-5">
                <div class="card-body">
                    <h5 class="card-title">Seleccione el numero de contratos a validar</h5>
                    <form action="{% url 'calculadora:validar' %}" method="GET">
                        {% csrf_token %}
                        {{form.select_contratos}}
                        <button class="btn btn-primary" type="submit">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-lg-5 col-md-4">
            
            
            {% if numero_contratos %}
                <div class="card p-5">
                    <div class="car-body">
                        <h5 class="card-title">Seleccione la fecha de inicio y terminación de cada contrato</h5>
                        <form method="POST" action="{% url 'calculadora:validar' %}">
                            {% csrf_token %}
                                                
                            {{ formset.management_form }}
    
                            {% for form in formset %}
                                <div class="card m-2">
                                    <div class="d-flex" id="contenedor">
                                        
                                        <div class="p-2" >
                                            <label for="{{ form.fecha_inicio.id_for_label }}" class="form-label">
                                                Fecha <strong>inicio</strong> contrato {{ forloop.counter }}
                                            </label>
                                            {{ form.fecha_inicio }}
                                        </div>
                                        <div class="p-2">
                                            <label for="{{ form.fecha_fin.id_for_label }}" class="form-label">
                                                Fecha <strong>fin</strong> contrato {{ forloop.counter }}
                                            </label>
                                            {{ form.fecha_fin }}
                                        </div>
                                    </div>
                                </div>                       
                            {% endfor %}           
                            <button type="submit" class="btn btn-success mt-2">Validar Experiencia</button>
                    
                        </form>
    
                        <!-- <button onclick="addInput()" class="btn btn-primary">Agregar contrato</button> -->
                
                    </div>
                
                </div>
                
            {% endif %}
                
    
    
        </div>
        
    </div>

</div>




<script>
    // const addInput = ()=> {
    //     const forms = document.querySelector('#id_form-TOTAL_FORMS');
    //     const newFechaInicio = document.querySelector('#id_form-0-fecha_inicio').cloneNode(true);
    //     newFechaInicio.name = `form-${forms.value}-fecha_inicio`;
    //     newFechaInicio.id = `id_form-${forms.value}-fecha_inicio`;

    //     const newFechaFin = document.querySelector('#id_form-0-fecha_fin').cloneNode(true);
    //     newFechaFin.name = `form-${forms.value}-fecha_fin`;
    //     newFechaFin.id = `id_form-${forms.value}-fecha_fin`;

    //     // document.querySelector('#contenedor').appendChild(newFechaInicio);
    //     // Crea un div con la clase p-2
    //     const divContainer = document.createElement('div');
    //     divContainer.classList.add('card','m-2');

    //     const otroDiv = document.createElement('div');
    //     otroDiv.classList.add('d-flex');

    //     divContainer.appendChild(otroDiv);

    //     const otroDiv2 = document.createElement('div');
    //     otroDiv2.classList.add('p-2');

    //     divContainer.appendChild(otroDiv2);


    //     // Agrega los campos clonados al div
    //     divContainer.appendChild(newFechaInicio);
    //     divContainer.appendChild(newFechaFin);

    //     const container = document.querySelector('#contenedor'); // Reemplaza 'tu-form-id' con el ID de tu formulario
    //     container.appendChild(divContainer);

    // }


</script>

{% endblock body %}